* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:100px;
  margin: 10px auto;
}

p {
  display: block;
  width: 300px;
  margin: 10px auto;
  font: 40px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
